.search-wrapper {
    padding: 12px;
    background-color: white;
    box-shadow: 0 0 #0000,  0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.search-container {
    display: flex;
    margin-bottom: 16px;
    background-color: white;
    border: 1px solid;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.search-input {
    padding-block: 8px;
    padding-inline: 16px;
    width: 92%;
}


.search-btn {
    display: flex;
    width: 8%;
    align-items: center;
    justify-content: center;
    border-left-width: 1px;
    cursor: pointer;
}

.search-icon {
    height: 16px;
    width: 16px;
}