<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./media/css/index.css">
    <title> All Recipes </title>
</head>
<body>
      <!-- Start Navigation  -->
      <header id="header">
          <div id="logo">
              <span><a href="index.html">Novara FOOD PLANET</a></span>
          </div>
          <nav id="mainnav" class="fl_right">
              <ul class="">
                <li class="active"><a href="index.html">Home</a></li>
                <li class="active"><a href="recipes.html">All Recipes</a></li>
                <li class="active"><a href="index.html#contact-us">Contact Us</a></li>
                <li class="active"><a href="signup.html">Sign Up</a></li>
                <li class="active"><a href="login.html">Login In</a></li>
                <li class="active"><a href="about-us.html">About us</a></li>
              </ul>
          </nav>         
        </header>
        <!-- End Navigation-->
       	  <!--Search bar-->
           <div class="search-wrapper">
            <div class="search-container">
               <input class="search-input" id="home-dish-search-bar" type="text"  placeholder="What are you looking for?">
               <button class="search-btn">
                 <svg class="search-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                   <path d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/>
                   </svg>
               </button>
             </div>
           </div>
           
    <!-- Start All Recipes  -->
    <div class="parent">
        <h2> All Recipes </h2>
        <div class="box-wrapper">
          <div class="box" id="one">
            <div class="img-wrapper">
                <img src="/media/images/Nigeria-meat-pie-Pic3.png" alt="">
            </div>
            <p class="content"><a href="./recipe.html">Black Eyed Beans Salad</a></p>
          </div>
          <div class="box" id="two">
            <div class="img-wrapper" >
                <img src="/media/images/Nigerian-okro-sou-Pic2.jpg" alt="error image">
            </div>
            <p class="content"><a href="./recipe.html">Nigeria Okro Soup</a></p>
          </div>
          <div class="box" id="three">
            <div class="img-wrapper">
                  <img src="/media/images/Roast-gizzard-with-peanuts-Pic1.png" alt=""> 
            </div>
            <p class="content"><a href="./recipe.html">Roasted Gizzard</a></p>
          </div>
          <div class="box" id="four">
            <div class="img-wrapper">
                <img src="/media/images/Fry-fish-Pic2.png" alt="">  
            </div>
            <p class="content"><a href="./recipe.html">Fried Fish</a></p>
          </div>
        </div>
      </div>

    <!-- End All Recipes -->
</body>
</html>